<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HoloTalk</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="../static/css/coming-soon.min.css" rel="stylesheet">

</head>

<body>

  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="../static/mp4/Hologram_Planet_by_nuva.mp4" type="video/mp4">
  </video>

  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
            <h1 class="mb-3">HoloTalk</h1>
            <p class="mb-5">Use your camera to capture a 3D portrait for
              <strong>Hologram Video Chat!</strong>! Holotalk provided by MatrixData</p>
            <div class="input-group input-group-newsletter">
                <p>
                	{% with messages = get_flashed_messages() %}
                	  {% if messages %}
                		<ul class=flashes>
                		{% for message in messages %}
                		  <li>{{ message }}</li>
                		{% endfor %}
                		</ul>
                	  {% endif %}
                	{% endwith %}
                </p>
              <form method="post" action="/upload_check" enctype="multipart/form-data">
                  <dl>
              		<p class="mb-5">Please upload your portrait.
              			<input type="file" name="file" autocomplete="off" required>
              		</p>
                  </dl>
                  <p>
              		<input class="btn btn-warning btn-sm" type="submit" value="Upload">
              	</p>
              </form>
              <div class="col-12 my-auto">
                  <form method="POST" action="/generation" id="generate_form">
                      <button class="btn btn-warning btn-lg" type="submit" form="generate_form"><i class="fas fa-globe-americas"></i>Generate!</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
          <form method="POST" action="/take_a_pic" id="camera">
              <button class="btn btn-warning btn-lg" type="submit" form="camera"><i class="fas fa-camera"></i></button>
          </form>
      </li>
    </ul>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/coming-soon.min.js"></script>

</body>

</html>
